<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/port.css">
    <title>Document</title>
</head>
<body>

    <h1>Obras de Candido Portinari</h1>

    <h2>Obra 1</h2>

    <img src="public/images/foto1.png" height="200" width="200"/>

     <h2>Obra 2</h2>

     <img src="public/images/foto2.png" height="200" width="200"/>
    
</body>
</html>